<h1 class="display-3">Users</h1>

<% @users.each do |user| %>
  <div class="card">
      <div class="card-header">
        <%= user.username %>
      </div>
      <div class="card-body">
        <%= gravatar_for user %>

        <%= link_to 'View profile', user_url(user.id) %>

        <p><%= pluralize(user.articles.count, 'article') %></p>
      </div>
  </div>
<% end %>